doctype html
html
	head
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css', rel='stylesheet')
	body
		.navbar.navbar-default.navbar-material-indigo
			.navbar-header
				a.navbar-brand(href="/") TIM.io
		.container
			h1 Persoon configureren
			p Voeg meerdere foto's van jezelf toe, zorg ervoor dat de foto's onder verschillende hoeken en belichting zijn.
			form#add-person-form(action='#')
				.form-group
					label Emailadres:
					input.form-control#email-field(type='email', name='emailadres', placeholder="Bijvoorbeeld 'korjan@q42.nl'")
				.form-group
					label Foto 1:
					input.form-control.img-field(type='file', name='img1', accept='image/*', capture='capture')
				.form-group
					label Foto 2:
					input.form-control.img-field(type='file', name='img2', accept='image/*', capture='capture')
				.form-group
					label Foto 3:
					input.form-control.img-field(type='file', name='img3', accept='image/*', capture='capture')
				.form-group
					label Foto 4:
					input.form-control.img-field(type='file', name='img4', accept='image/*', capture='capture')
				.form-group
					label Foto 5:
					input.form-control.img-field(type='file', name='img5', accept='image/*', capture='capture')
				div
					button.btn.btn-primary(type='submit') Toevoegen
		.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Persoon toegevoegd!
					.modal-body
						p Voeg nu een geluid toe voor deze persoon
					.modal-footer
						a.btn.btn-primary(href="/event") Naar geluiden!

		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/ripples.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/material.min.js')
		
		script(type='text/javascript', src='js/facepp-sdk.min.js')
		script(src='js/add_person/add_person.js')
