doctype html
html
	head
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css', rel='stylesheet')
	body
		.navbar.navbar-default.navbar-material-indigo
			.navbar-header
				a.navbar-brand(href="/") TIM.io
		.container
			if done
				marquee 
					h2 Geluid is toegevoegd!!!!
			h1 Nieuw geluid toevoegen!
			p Voer hieronder je emailadres in waarmee je jezelf hebt geregistreerd en de bijbehorende mp3-file.
			form(action='/event', method="POST", enctype="multipart/form-data")
				.form-group
					label Emailadres:
					input.form-control(type='email', name='emailadres', placeholder="Bijvoorbeeld: 'korjan@q42.nl'")
				.form-group
					label Audio:
					input.form-control(type='file', name='audio')
				div
					button.btn.btn-primary(type='submit') Toevoegen
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/ripples.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/material.min.js')
		script
			| $.material.ripples();
		script(type='text/javascript', src='js/facepp-sdk.min.js')
