doctype html
html
	head
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css', rel='stylesheet')
	body
		.navbar.navbar-default.navbar-material-indigo
			.navbar-header
				a.navbar-brand(href="/") TIM.io
		.container
			h1 TIM.io Test
			form#add-person-form(action='#')
				.form-group
					label Emailadres:
					input.form-control#email-field(type='email', name='emailadres', placeholder="Bijvoorbeeld 'korjan@q42.nl'")
				.form-group
					label Foto 1:
					input.form-control#img-field(type='file', name='img', accept='image/*', capture='capture')
				div
					button.btn.btn-primary(type='submit') Toevoegen
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/ripples.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/material.min.js')
		
		script(type='text/javascript', src='js/facepp-sdk.min.js')
		script(src='js/add_person/add_person.js')
