doctype html
html
	head
		title The Internet of Tim
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css', rel='stylesheet')
	body
		.navbar.navbar-default.navbar-material-indigo
			.navbar-header
				a.navbar-brand(href="/") TIM.io
		audio(controls, autoplay)
			source(src="#{mp3_audio}", type="audio/mpeg")
</audio>
