doctype html
html
	head
		title The Internet of Tim
		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/ripples.min.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/css/material-wfont.min.css', rel='stylesheet')
	body
		.navbar.navbar-default.navbar-material-indigo
			.navbar-header
				a.navbar-brand(href="/") TIM.io

		.container
		video(autoplay='autoplay', style="display:none;")
		center
			video(src="http://static.q42.nl/video/employees/timl.webm" autoplay loop poster="http://static.q42.nl/images/employees/timl.jpg")
		img#face(src='', style="display:none;")
		canvas(style="display: none;")
		script#eventData(type="application/json") !{JSON.stringify(events)}
		script(src="/js/tim-api.js")
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='js/face_recognition/objectdetect.js')
		script(src='js/face_recognition/objectdetect.eye.js')
		script(src='js/face_recognition/objectdetect.frontalface.js')
		script(src='js/face_recognition/jquery.objectdetect.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/ripples.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.6/js/material.min.js')
		script(type='text/javascript', src='js/facepp-sdk.min.js')
		script(src='/js/hallo.js')
		script(src='/js/face_recognition/face_recognition.js')
